## Evaluate the dataset of the Summer Olympics, London 2012 to:

In [1]:
# Import Required Libraries
import numpy as np

In [2]:
# Load dataset
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [4]:
# Task01: Find and print the name of the country that won maximum gold medals
max_gold_medals = np_olympic_country.argmax()
max_gold_medals

3

In [6]:
country_with_won_max_gold_medals = np_olympic_country[max_gold_medals]
country_with_won_max_gold_medals

'US'

In [8]:
# Task02: Find and print the countries who won more than 20 gold medals
print(np_olympic_country[np_olympic_country_Gold>20])

['GBR' 'China' 'RUS' 'US']

In [7]:
np_olympic_country_Gold > 20

array([ True,  True,  True,  True, False, False, False])

In [9]:
# Task03: Print the medal tally
# Task04: Print each country name with the corresponding number of gold medals
# Task05: Print each country name with the total number of medals won

for i in range(len(np_olympic_country)):
    gold_medal = np_olympic_country_Gold[i]
    country  = np_olympic_country[i]
    total_medal = np_olympic_country_Bronze[i]+np_olympic_country_Gold[i]+np_olympic_country_Silver[i]
    print('{} => gold medal {}, Total medals {}'.format(country,gold_medal,total_medal))

GBR => gold medal 29, Total medals 65
China => gold medal 38, Total medals 88
RUS => gold medal 24, Total medals 81
US => gold medal 46, Total medals 103
KOR => gold medal 13, Total medals 28
JPN => gold medal 7, Total medals 38
GER => gold medal 11, Total medals 36